<% if item.format == 'photo' && item.photo_urls %>
  <%= link_to image_tag(item.photo_urls), item.source_url, target: "_blank" %>

<% elsif item.format == 'answer' %>
  <div class='question'>
    <%= item.question.html_safe if item.question %>
    <p><%= link_to item.asking_name, item.asking_url %></p>
  </div>
  <div class='answer'>
    <%= item.answer.html_safe if item.answer %>
    <p><%= link_to item.source_user, item.source_user_url %></p>
  </div>
  
<% end %>

<h2><%= item.title if item.title %></h2>

<%= truncate_html(item.body.html_safe, :length => max_post_length, :omission => '...') if item.body %>

<div class='caption'>
  <% if item.source == 'reddit' && item.caption %>
    <%= link_to item.caption, item.source_url %>
  <% end %>

  <%= truncate_html(item.caption.html_safe, :length => max_post_length, :omission => '...') if item.caption && item.source != 'reddit' %>
</div>

<% if item.body && item.body.length > max_post_length %>
    <%= render 'read_more', :item => item %>
<% end %>
