<div class='popularity span1 offset11'>
  <i class="glyph star general"></i><%= item.popularity %>
</div>

  <div class='meta'>
    <%= render 'body', :item => item %>
    <%= render 'user_interactions', :item => item %>
    <%= render 'source_user', :item => item %>
    <%= render 'source_site', :item => item %>
  </div>
