<div class='popularity span3 offset9'>
  <i class="icon-star"></i><%= item.popularity %>
</div>

  <div class='meta'>
    <%= render 'body', :item => item %>
    <%= render 'user_interactions', :item => item %>
    <%= render 'source_user', :item => item %>
    <%= render 'source_site', :item => item %>
  </div>
