    <div class='source_user row-fluid'>
      
      <% if item.source == 'twitter' %>
        <div class='span2'>
        <%= link_to image_tag(item.profile_pic), item.source_user_url if item.profile_pic%>
        </div>

        <ul class='<%=item.source %> span10'>

      <% else %>
        <ul class='<%=item.source %> span12'>
      <% end %>
          <li>Posted by</li>
          <li><%= link_to "@#{item.source_user}", item.source_user_url %></li>
          <li><%= link_to item.source_user, item.source_user_url %></li>
        </ul>

    </div>
