<div class='body'>
  <div class='rating'><%= item.popularity %></div>
  <h2><%= link_to item.title, item.source_url if item.title %></h2>
  <%= truncate_html(item.body.html_safe, :length => 800, 
                                            :word_boundary => /\S[\.\?\!]/, 
                                            :omission => "...") if item.body %>
                                            <p> <%=link_to "Read More", item.source_url %> </p>
</div>




  
  <%= render 'meta_info', :item => item %>


</div>

