<%#= @search %>
<h1>Popular Items</h1>
<% @news_items.each do |item| %>
  From: <%= item.source %>
  Created: <%= item.published_at %>
  <%= image_tag(item.profile_pic) if item.profile_pic%><br>
  <%= item.type %>
  <%= item.popularity %><br>
  <%= link_to item.source_user, item.source_url %><br>
  <%= item.tags if item.tags %><br>
  <h2><%= item.title if item.title %></h2>
  <%= item.body.html_safe if item.body %>

  <%= image_tag(item.photo_urls[:url]) if item.photo_urls %><br>
  
  <%= item.caption.html_safe if item.caption %>
  Add a comment: <%= link_to item %>
  <hr>

<% end %>        
