<h1>Instagram</h1>

<% @instas.each do |pic| %>
  <article class = 'news_item'>
    <%= pic['popularity'] %>

    <%= link_to pic['pic'].caption.from.username, :url => "http://instagram.com/#{pic['pic'].caption.from.username}" %>

    <%= link_to image_tag pic['pic'].images.standard_resolution.url, :url => "http://instagram.com/#{pic['pic'].caption.from.username}" %>

    <p><%= pic['pic'].caption.text.html_safe %></p>

  </article>
<% end %>


<h1>Tweets</h1>
<% @tweets.each do |tweet| %>
  <%= tweet['popularity'] %>
  <%= embed_tweet(tweet['status'].id) %>
<% end %>

<h1>Tumbles</h1>

  <% @tumbles.each do |post| %>
    <article class = 'news_item'>
      <ul>
        <li><%= link_to post['blog_name'], post['post_url'] %><li>
        <li class='popularity'><%= post['popularity'] %></li>
      </ul>
      <%= render post['type'], :post => post %>
      <%= render 'meta_info', :post => post %>
    </article>
  <% end %>
