
<h1>Instagram</h1>
<%= @location_images %>

<% find_by_coords('39.143333', '-77.418333', "Poolesville High School") %>

<% @location_images.each do |i| %>
  <% image_url(i) %>

  <ul class="instagram">
    <li class="name"><img class="profile_picture" src="<%= @profile_picture %>"><a href="http://instagram.com/<%= @username %>"><span><%= @username %></span></a></li>
    <li class="image"><img src="<%= @url %>"></img></li>
    <li class="caption"><%= @caption %></li>
  </ul>

<h1>Tweets</h1>
<% @tweets.each do |tweet| %>
  <%= tweet['popularity'] %>
  <%= embed_tweet(tweet['status'].id) %>
<% end %>

<h1>Tumbles</h1>

  <% @tumbles.each do |post| %>
    <article class = 'news_item'>
      <ul>
        <li><%= link_to post['blog_name'], post['post_url'] %><li>
        <li class='popularity'><%= post['popularity'] %></li>
      </ul>
      <%= render post['type'], :post => post %>
      <%= render 'meta_info', :post => post %>
    </article>
  <% end %>


<%= @tweets %>
