<article class="news_item_">
    <%= @news_item.format %>

    <div class='rating'>
      <%= @news_item.popularity %>
    </div>
    
    <div class='body'>
      <%= render 'body', :item => @news_item %>
      <%= render 'read_more', :item => @news_item %>
    </div>
    
    <div class='meta'>
      <%= render 'user_interactions', :item => @news_item %>
      <%= render 'source_user', :item => @news_item %>
      <%= render 'source_site', :item => @news_item %>
    </div>
  </article>
  
  <hr>
  
    <div class='meta'>
      <% if logged_in? %>
        <%= render "news_items/form", :news_item => @news_item %>
      <% else %>
       <p><%= link_to 'Login', new_session_path %> or <%= link_to 'Sign-up', new_user_path %>  to comment</p>
      <% end %>
    </div>

    <div class='meta'>
      <% if @news_item.comments.count > 0 %>
        <% @news_item.comments.each do |comment| %>
          <% unless comment.id.nil? %>
            <%= render "news_items/comments", :comment => comment %>
          <% end %>
        <% end %>
      <% end %>
    </div>