<article class="news_item_">
    <%= @news_item.format %>

    <div class='rating'>
      <%= @news_item.popularity %>
    </div>
    
    <div class='body'>
      <%= render 'body', :item => @news_item %>
      <%= render 'read_more', :item => @news_item %>
    </div>
    
    <div class='meta'>
      <%= render 'user_interactions', :item => @news_item %>
      <%= render 'source_user', :item => @news_item %>
      <%= render 'source_site', :item => @news_item %>
    </div>
  </article>

  <%#= image_tag(@news_item.photo_urls[:url]) if @news_item.photo_urls %><br>


  <%= image_tag(@news_item.photo_urls) if @news_item.photo_urls %><br>

  <%= @news_item.caption.html_safe if @news_item.caption %>
  <hr>

<%= render "news_items/form", :news_item => @news_item %>

<% if @news_item.comments.count > 0 %>
  <% @news_item.comments.each do |comment| %>
    <%= render "comments/comment", :comment => comment %>
  <% end %>
<% end %>