<div class="search">
	<h1>Search Schools</h1>


<% @states = [ ["AL", "Alabama"], ["AK", "Alaska"], ["AZ", "Arizona"], ["AR", "Arkansas"], ["CA", "California"], ["CO", "Colorado"], ["CT", "Connecticut"], ["DE", "Delaware"], ["DC", "District of Columbia"],["FL", "Florida"], ["GA", "Georgia"], ["HI", "Hawaii"], ["ID", "Idaho"], ["IL", "Illinois"], ["IN", "Indiana"], ["IA", "Iowa"], ["KS", "Kansas"], ["KY", "Kentucky"], ["LA", "Louisiana"], ["ME", "Maine"], ["MD", "Maryland"], ["MA", "Massachusetts"], ["MI", "Michigan"], ["MN", "Minnesota"], ["MS", "Mississippi"], ["MO", "Missouri"], ["MT", "Montana"], ["NE", "Nebraska"], ["NV", "Nevada"], ["NH", "New Hampshire"], ["NJ", "New Jersey"], ["NM", "New Mexico"], ["NY", "New York"], ["NC", "North Carolina"], ["ND", "North Dakota"], ["OH", "Ohio"], ["OK", "Oklahoma"], ["OR", "Oregon"], ["PA", "Pennsylvania"], ["RI", "Rhode Island"], ["SC", "South Carolina"], ["SD", "South Dakota"], ["TN", "Tennessee"], ["TX", "Texas"], ["UT", "Utah"], ["VT", "Vermont"], ["VA", "Virginia"], ["WA", "Washington"], ["WV", "West Virginia"], ["WI", "Wisconsin"], ["WY", "Wyoming"] ] %>

	<%= form_tag(search_schools_path, :remote => true) do %>
		<%= text_field_tag(:zip, nil, :placeholder => "Enter Zip") %>
		<%= text_field_tag(:city, nil, :placeholder => "Enter City") %>
		<%= select_tag :state, options_for_select(@states.map{ |s| [s.last, s.first] }) %>
		<%= submit_tag 'Submit' %> 
	<% end %>
</div>

	<div class = 'results'>
		<% if @schools %>	
			<ul>	
			<% @schools.each do |school| %>
				<li><%= link_to school.schoolname.capitalize, school %></li>
			<% end %>
	    </ul>
	  <% end %>
  </div>