<!-- School identity and location -->
<div id="school_title">
  <h1 class="school_name"><%= @school.schoolname %></h1>
  <p><%= @school.address %>, <%= @school.city.capitalize %>, <%= @school.state %>, <%= @school.zip %></p>
  <p><%= @school.schooldistrictname %></p>
</div>

<!-- School demographics -->
<div id="chart_wrapper">

  <%= content_tag "div", class: "chart",
                         id: "ratio",
                         data: { ratio:      @school.studentteacherratio, 
                                 schoolname: @school.schoolname } do %>
  <% end %>

  <%= content_tag "div", class: "chart",
                         id: "gender",
                         data: { female: @school.female,
                                 male:   @school.male } do %>
  <% end %>

  <%= content_tag "div", class: "chart",
                         id: "ethnicity",
                         data: { white:           @school.white,
                                 hispanic:        @school.hispanic,
                                 black:           @school.black,
                                 asian:           @school.asian,
                                 native_american: @school.native_american } do %>
  <% end %>

  <div class="chart">
    <div class="chart_content">
      <h1>Enrollment</h1>
      <h2 class="text-info"><%= number_with_delimiter(@school.enrollment) %></h2>
    </div>
  </div>

  <div class="chart">
    <div class="chart_content">
      <h1>Grades Served</h1>
      <h2 class="text-info"><%= @school.gradesserved %></h2>
    </div>
  </div>
  
  <%= content_tag "div", class: "chart",
                         id: "dropout",
                         data: { percentage: ('%.1f' % ((@school.dropout.to_f / @school.enrollment.to_f) * 100)), 
                                 schoolname: @school.schoolname } do %>
  <% end %>

</div>

<script>
  $(document).ready(function () {
    // Student-Teacher Ratio
    Morris.Bar({
      element: 'ratio',
      data: [
        { r: 'Students per Teacher (vs. National Average)', a: $('#ratio').data('ratio'), b: 15.2 }
      ],
      xkey:   'r',
      ykeys:  ['a', 'b'],
      labels: [$('#ratio').data('schoolname'), 'National Average'],
      hideHover: 'auto'
    });

    // Ethnicity
    Morris.Donut({
      element: 'ethnicity',
      data: [
        { label: "Asian", value: $('#ethnicity').data('asian') || 0 },
        { label: "Black", value: $('#ethnicity').data('black') || 0 },
        { label: "Hispanic", value: $('#ethnicity').data('hispanic') || 0 },
        { label: "Native American", value: $('#ethnicity').data('native_american') || 0 },
        { label: "White", value: $('#ethnicity').data('white') || 0 }
      ],
    });

    // Gender
    Morris.Donut({
      element: 'gender',
      data: [
        { label: "Female", value: $('#gender').data('female') || 0 },
        { label: "Male", value: $('#gender').data('male') || 0 }
      ],
    });

    // Dropout Percentage
    Morris.Bar({
      element: 'dropout',
      data: [
        { r: 'Dropout Percentage (vs. National Average)', a: $('#dropout').data('percentage'), b: 7.4 }
      ],
      xkey:   'r',
      ykeys:  ['a', 'b'],
      labels: [$('#dropout').data('schoolname'), 'National Average'],
      hideHover: 'auto'
    });

  });
</script>

<!-- School social media -->
<div class='media-container'>
  <!-- Instagram  -->
  <% find_by_coords(@school.latitude, @school.longitude, @school.schoolname) %>
  <% if @location_images.nil? %>
  <% else %>
    <% @location_images.each do |i| %>
      <% image_url(i) %>
      <div class='media-item-wrapper' >
      <ul class="instagram media-item">
        <li class="name">
          <img class="profile_picture" src="<%= @profile_picture %>"><a href="http://instagram.com/<%= @username %>"><span><%= @username %></span></a>
        </li>
        <li class="image"><img src="<%= @url %>"></img></li>
        <li class="caption"><%= @caption %></li>
      </ul>
    </div>
    <% end %>
  <% end %>

  <!-- Twitter  -->
  <% tweets_by_coords(@school.latitude,@school.longitude) %>
  <% @coord_tweets.statuses.each do |tweet| %>
    <div class='media-item-wrapper'>
    <div class="tweet media-item">
      <%= embed_tweet(tweet.id) %>
    </div>
  </div>
  <% end %>
</div>
