<%= @school.inspect %>

<h1><%= @school.schoolname %></h1>
<p><%= @school.address %>, <%= @school.city.capitalize %>, <%= @school.state %>, <%= @school.zip %></p>
<p><%= @school.schoolname %> is in the <%= @school.schooldistrictname  %></p>


<%= content_tag "div", class: "chart",
                       id: "ratio",
                       data: { ratio:      @school.studentteacherratio, 
                               schoolname: @school.schoolname } do %>
<% end %>

<ul>
	<li><b>enrollment:</b>			    <%= @school.enrollment          %></li>
	<li><b>gradelevel:</b>			    <%= @school.gradelevel          %></li>
	<li><b>gradesserved:</b>		    <%= @school.gradesserved        %></li>
	<li><b>schooltype:</b>					<%= @school.schooltype          %></li>
	<li><b>studentteacherratio:</b>	<%= @school.studentteacherratio %></li>
	<li><b>testrating_text:</b>			<%= @school.testrating_text     %></li>
  <li><b>schoolid:</b>            <%= @school.schoolid            %></li>
  <li><b>schoolname:</b>          <%= @school.schoolname          %></li>
  <li><b>zip:</b>                 <%= @school.zip                 %></li>
  <li><b>address:</b>             <%= @school.address             %></li>
  <li><b>city:</b>                <%= @school.city                %></li>
  <li><b>districtid:</b>          <%= @school.districtid          %></li>
  <li><b>AYPResultYear:</b>       <%= @school.AYPResultYear       %></li>
  <li><b>distance:</b>            <%= @school.distance            %></li>
  <li><b>latitude:</b>            <%= @school.latitude            %></li>
  <li><b>longitude:</b>           <%= @school.longitude           %></li>
  <li><b>phonenumber:</b>         <%= @school.phonenumber         %></li>
  <li><b>schooldistrictname:</b>  <%= @school.schooldistrictname  %></li>
  <li><b>state:</b>               <%= @school.state               %></li>
  <li><b>website:</b>             <%= @school.website             %></li>

</ul>

<!-- Instagram business -->
<% find_by_coords(@school.latitude, @school.longitude, @school.schoolname) %>

<% if @location_images.nil? %>
  <p>No Instagram photos!</p>
<% else %>
  <% @location_images.each do |i| %>
    <% image_url(i) %>
    <ul class="instagram">
      <li class="name">
        <img class="profile_picture" src="<%= @profile_picture %>"><a href="http://instagram.com/<%= @username %>"><span><%= @username %></span></a>
      </li>
      <li class="image"><img src="<%= @url %>"></img></li>
      <li class="caption"><%= @caption %></li>
    </ul>
  <% end %>
<% end %>

<!-- Twitter business -->
<h1>Tweets</h1>
<% tweets_by_coords(@school.latitude,@school.longitude) %>
<% @coord_tweets.statuses.each do |tweet| %>
  <div class="tweet">
    <%= embed_tweet(tweet.id) %>
  </div>
<% end %>
